<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>¡Bienvenido!</ion-title>-->
<!--    <ion-buttons slot="end">-->
<!--      <ion-button (click)="logOut()">-->
<!--        <ion-icon slot="icon-only" name="exit"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->
<!--  <router-outlet></router-outlet>-->
<!--</ion-content>-->
<ion-app>
  <ion-menu side="start" main>
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>{{User}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    <section class="full-width">
      <ion-button expand="full" color="primary" (click)="logOut()">SALIR</ion-button>
    </section>
  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>¡Bienvenido!</ion-title>
      </ion-toolbar>
    </ion-header>
<!--    <ion-content class="ion-padding">-->
<!--    &lt;!&ndash;<ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>&ndash;&gt;-->

<!--    </ion-content>-->
  </div>
</ion-app>
